$btn-bg-color: #86777f;
$btn-color: #000;
$mix-color: rgb(233, 50, 233);
$shadow-color: rgb(66, 66, 196);

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: flex;
  width: 1020px;
  margin: 0 auto;
}

.test-zone {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 2px;
  & > * {
    padding: 5px 0;
  }

  & > textarea {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    &::placeholder {
      white-space: pre;
    }
  }
}

.instructions {
  width: 200px;
  padding: 2px;
}

.keyboard {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_shifted {
    text-transform: capitalize;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 0;
  }

  &__btn {
    width: 40px;
    height: 40px;
    border: 1px solid darken($color: $btn-bg-color, $amount: 10);
    background-color: $btn-bg-color;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-out;
    &:hover {
      box-shadow: inset 0 0 10px $shadow-color;
    }
    &_pressed {
      background-color: invert($btn-bg-color);
      color: invert($color: $btn-color);
      transform: scale(1.1);
    }

    &_backspace {
      width: 95px;
      &.keyboard__btn_pressed {
        transform: scale(1.03);
      }
    }

    &_tab {
      width: 50px;
    }

    &_capslock {
      width: 85px;

      &.keyboard__btn_pressed {
        color: $mix-color;
        transform: scale(1.05);
      }
    }

    &_shift {
      width: 120px;
      &.keyboard__btn_pressed {
        transform: scale(1.03);
      }
    }

    &_alt {
      width: 50px;
    }

    &_ctrl {
      width: 55px;
    }

    &_enter {
      width: 80px;
    }

    &_space {
      width: 265px;
    }
  }
}
