$btn-bg-color: #86777f;

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: flex;
  width: 1020px;
  margin: 0 auto;
}

.test-zone {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 2px;
  & > * {
    padding: 5px 0;
  }

  & > textarea {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    &::placeholder {
      white-space: pre;
    }
  }
}

.instructions {
  width: 200px;
  padding: 2px;
}

.keyboard {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_shifted {
    text-transform: capitalize;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 0;
  }

  &__btn {
    width: 40px;
    height: 40px;
    border: 1px solid darken($color: $btn-bg-color, $amount: 10);
    background-color: $btn-bg-color;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &_pressed {
      background-color: lighten($color: $btn-bg-color, $amount: 10);
    }

    &_backspace {
      width: 95px;
    }

    &_tab {
      width: 50px;
    }

    &_capslock {
      width: 85px;
    }

    &_shift {
      width: 120px;
    }

    &_alt {
      width: 50px;
    }

    &_ctrl {
      width: 55px;
    }

    &_enter {
      width: 80px;
    }

    &_space {
      width: 265px;
    }
  }
}
